package template

type {{ .DataName }}{{ .TyVarsWithType }} interface {
	Maybe() *{{ .MatcherStructName }}{{ .TyVars }}
}

type {{ .MatcherStructName }}{{ .TyVarsWithType }} struct {
	x {{ .DataName }}{{ .TyVars }}
}
