package template

type {{ .DataName }}{{ genTyVarDecls }} interface {
	Maybe() *{{ .MatcherStructName }}{{ genTyVarNames }}
}

type {{ .MatcherStructName }}{{ genTyVarDecls }} struct {
	x {{ .DataName }}{{ genTyVarNames }}
}
